@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&family=Work+Sans:wght@600&family=Yaldevi:wght@700&display=swap');

*{

    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

input::focus{

    border:none;
}